html {
  font-size: 10 px;
}

body {
}

main {
  background-color: lightgray;
}
h1 {
  font-size: 3rem;
  font-family: sans;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  font-family: sans-serif;
}
div {
  width: auto;
  text-align: center;
}
a {
  color: blue;
}

ul {
  border: 5px;
  margin: 2rem 2rem 2rem 2rem;
}
li {
  list-style-type: circle;
}

figure {
  background-color: yellow;
}
figcaption {
  text-align: center;
  background-color: pink;
}
img {
  border-radius: 10px;
  max-width: 100%;
}
.container {
  text-align: center;
}
#subtitle {
  color: blue;
  font-size: 15px;
}
#main {
  }
#title {
  
}
#img-div {
  
}
#image {
  
}
#img-caption {
  
}
#tribute-info {
/ 
}
#tribute-link {
  text-align: center;
}
